@font-face {
  font-family: 'Gidole';
  src: url('../fonts/gidole/gidole.eot'); /* IE9 Compat Modes */
  src: url('../fonts/gidole/gidole.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gidole/gidole.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/gidole/gidole.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/gidole/gidole.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/gidole/gidole.svg#svgFontName') format('svg'); /* Legacy iOS */

}

* {
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
  font-family: 'Gidole', Helvetica, Arial, sans-serif; 
}

:root{
  --headline-text-size: 30px;
  --base-text-size: 22px;
  --button-text-size: 18px;
  line-height: 30px;

}

button{
  border-width: 1px;
}

/* Background types for sections */
/* Make section bg colors alternate between two.
   And individual sections can set their own BG's if they want.*/

div.section_container:nth-child(even){
  color: whitesmoke;
  background: rgb(3,1,31);
  background: linear-gradient(90deg, rgb(2, 45, 53) 15%, rgb(8, 118, 138) 100%);
}

div.section_container:nth-child(odd){
  color: black;
  background: rgb(74,74,77);
  background: linear-gradient(90deg, rgba(74,74,77,0.4) 0%, rgba(235,235,235,0.8501070663811563) 50%);
}

/* main{
  min-width: 100%;
} */

.anchor{
  color: inherit;
  font: inherit;
  min-height: 100%;
  width: 100%;
  font-size: var(--base-text-size);
  min-width: 100%;

  margin-top: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.link{
  color: inherit;
}

@media (min-width:1000px){
    
  .project_image{
      max-width: 60%;
  }

  .anchor{
      min-width: 40%;
      min-height: 40%;
      width: 50%;
      display: inline-flex;
  }
}

@media (max-width:360px){
  :root{
    --headline-text-size: 24px;
    --base-text-size: 18px;
    --button-text-size: 14px
  }
}

@media (max-width:300px){
  :root{
    --headline-text-size: 20px;
    --base-text-size: 14px;
    --button-text-size: 12px;
    line-height: 24px;
  }
}
