.full_section{    
    min-height: 100vh;
    max-height: 100vh;

    min-width: 100vw;
    max-width: 100vw;

    background: url('https://res.cloudinary.com/diujqlncs/image/upload/v1615940235/conjuration_frontent/landing_section_bg_t9xh4k.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: whitesmoke;
    font-family: 'Gidole', Georgia, 'Times New Roman', Times, serif;
}

.info_container{
    min-width: 100%;
    min-height: 100%;

    background: rgb(3,1,31);
    background: linear-gradient(0deg, rgba(3,1,31,0.5) 0%, rgba(40, 40, 49, 0.83) 70%, rgba(0,212,255,0) 100%);

    z-index: 2;
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.info{
    align-self: center;
    color: whitesmoke;

    min-width: 100%;
    max-height: 80%;
}

.hook{
    text-transform: capitalize;
    font-size: var(--base-text-size);
}