.item_name{
    font-size: var(--headline-text-size);
    min-width: 100%;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    /* margin-top: 20px; */

    padding-top: 35px;
}


.portfolio_section{
    min-width: 100%;
    padding-bottom: 30px;
    /* max-height: 100vh; */
    /* overflow-y: auto; */
    /* max-width: 80%;
    display: block;
    margin: auto; */
}

.portfolio_section:nth-child(odd){
    color: black;
    background: rgb(74,74,77);
    background: linear-gradient(90deg, rgba(74,74,77,0.4) 0%, rgba(235,235,235,0.8501070663811563) 50%);
}

.portfolio_section:nth-child(even){
    color: whitesmoke;
    background: rgb(3,1,31);
    background: linear-gradient(90deg, rgb(2, 45, 53) 15%, rgb(8, 118, 138) 100%);
}

@media (min-width:1000px){

    .portfolio_section{
        /* min-width: 100%; */
        max-width: 80vw;
        padding-bottom: 30px;
        /* max-height: 100vh; */
        /* overflow-y: auto; */
        /* max-width: 80%;
        display: block;
        margin: auto; */
    }
}